body {
    background-color: #f1ece7;
    margin: 0;
    font-family: serif;
}

.header {
    background-color: #ffffff;
}

.header__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__logo {
    color: #8B7355;
    text-decoration: none;
    font-weight: normal;
    font-size: 35px;
    display: block;
    text-align: center;
}

.header__link {
    position: absolute;
    right: 40px;
    color: #d9c6b6;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #d9c6b6;
    padding: 8px 20px;
    border-radius: 3px;
    background-color: #f6f6f6;
}

.login__content {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__heading h2,
.login__heading h2 {
    margin: 0 0 40px 0;
    text-align: center;
    color: #8B7355;
    font-size: 28px;
    font-weight: normal;
}

.form {
    width: 500px;
    padding: 50px 70px;
    margin: 0 auto; 
    background-color: #ffffff;
    border-radius: 6px;
    box-sizing: border-box;
}

.form__group {
    margin-bottom: 30px;
}

.form__group-title {
    margin-bottom: 8px;
}

.form__label--item {
    font-size: 16px;
    font-weight: normal;
    color: #8B7355;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #f3f1ee;
    box-sizing: border-box;
}

.form__error {
    color: #ff4b4b;
    font-size: 12px;
    margin-top: 5px;
}

.form__button {
    margin-top: 40px;
    text-align: center;
}

.form__button-submit {
    height: 40px;
    padding: 8px 40px;
    border: none;
    border-radius: 3px;
    background-color: #8B7355;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
}